:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "DM_Sans";
  src: url(./fonts/DM_Sans/DMSans-VariableFont_opsz\wght.ttf);
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "DM_Sans", sans-serif;
}

.container {
  max-width: 1440px;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* --------------HEADER----------- */

.header .container {
  padding: 16px 24px;
  background-color: #f5ede7;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 16px;
  align-items: baseline;
}
.logo {
}
.nav_list {
  list-style: none;
  display: flex;
  gap: 16px;
}
.nav_list_item {
}
.nav_list_item_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 80%;
  text-transform: uppercase;
  color: #000;
}
.user_list {
  display: flex;
  gap: 6px;
  align-items: baseline;
  list-style: none;
}
.user_list_item {
}
.user_list_item_link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_list_item_link_img {
}
.user_list_item_link_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #000;
}

/* --------------HERO----------- */
.hero .container {
  padding: 24px 16px;
  background-color: #ffc3a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_info {
  width: 462px;
  height: 564px;
}
.hero_title {
  margin-bottom: 33px;
  margin-top: 83px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 76px;
  line-height: 118%;
  color: #000;
  width: 364px;
}
.hero_text {
  margin-bottom: 23px;
  width: 444px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #000;
}
.hero_button {
  width: 310px;
  height: 58px;
  border: 1px solid #000;

  border-radius: 35px;
  background-color: transparent;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  text-align: center;
  color: #000;
  padding: 11px 73px 13px 73px;
  cursor: pointer;
}
.hero_button:hover,
.hero_button:focus {
  border: 2px solid #0126de;
  color: #0126de;
}

.hero_img {
  border-radius: 20px;
  width: 898px;
  height: 564px;
  position: relative;
}
.hero_arrow_list {
  list-style: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 5px;
}
.hero_arrow_list_item {
}
.hero_arrow {
}
.hero_arrow_img {
}

/* --------------WORKS----------- */
.works .container {
  padding: 80px 22px;
  background-color: #f5ede7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.works_title {
  margin-bottom: 63px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 140%;
  text-align: center;
  color: #000;
}
.works_list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.works_list_item {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}
.works_list_item_img {
  width: 99px;
  height: 99px;
}
.works_list_item_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 27px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.works_list_item_text {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #000;
  width: 320px;
}
.works_button,
.bakery_button,
.shop_list_item_button,
.history_list_item_button {
  width: 310px;
  height: 58px;
  margin-top: 42px;
  border: 1px solid #000;

  border-radius: 35px;
  background-color: transparent;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  text-align: center;
  color: #000;
  padding: 11px 73px 13px 73px;
  cursor: pointer;
}

.works_button:hover,
.works_button:focus,
.bakery_button:hover,
.bakery_button:focus,
.shop_list_item_button:hover,
.shop_list_item_button:focus,
.history_list_item_button:hover,
.history_list_item_button:focus {
  border: 2px solid #1204dd;
  color: #0126de;
  padding: 11px 72px 13px 72px;
}

/* ------------BAKERY------------- */

.bakery .container {
  display: flex;
  gap: 48px;
  padding: 72px 16px;
  background-color: #f5ede7;
}

.bakery_img {
  border-radius: 20px;
  width: 680px;
  height: 529px;
}

.bakery_info {
  width: 679px;
  height: 529px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}

.bakery_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  color: #000;
}

.bakery_button {
  margin-top: 0;
}

/* ------------SHOP------------- */

.shop .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 72px 16px;
  background-color: #f5ede7;
}

.shop_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 39px;
  line-height: 144%;
  text-align: center;
  color: #000;
}

.shop_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.shop_list_item {
}

.shop_list_item_img {
  border-radius: 20px;
  width: 453px;
  height: 453px;
}

.shop_list_item_info {
  padding-top: 12px;
  padding-bottom: 12px;
}

.shop_list_item_title {
  width: 222px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 27px;
  line-height: 133%;
  text-transform: uppercase;
  color: #000;
}

.shop_list_item_price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
}

.shop_list_item_button,
.history_list_item_button {
  width: 257px;
  margin-top: 0;
}

/* ------------IMAGE------------- */
.image .container {
  padding-top: 64px;
}
.image_img {
  width: 1440px;
  height: 960px;
}

/* ------------WHAT ME------------- */

.what_me .container {
  background-color: #f5ede7;
  padding: 16px;
}

.what_me_list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.what_me_list_item {
  box-sizing: border-box;

  border: 1px solid #000;
  border-radius: 20px;
  padding: 25px;
  width: 459px;
  height: 630px;
}

.what_me_list_item_img {
  border-radius: 10px;
  width: 409px;
  height: 272px;
}

.what_me_list_item_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 56px;
  line-height: 122%;
  text-align: center;
  color: #000;
  margin-top: 16px;
  margin-bottom: 20px;
}

.what_me_list_item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #000;
}

/* ------------HISTORY------------- */

.history .container {
  position: relative;
  background-color: #f5ede7;
  padding: 16px 164px;
}
.history_list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.history_list_item {
  display: flex;
  gap: 48px;
  align-items: center;
}
.history_list_item_img {
  border-radius: 20px;
  width: 516px;
  /* height: 386px; */
}
.history_item_info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 5;
}
.history_list_item_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}
.history_list_item_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 133%;
  color: #000;
}
.history_list_item_button {
}

.Sun_top {
  position: absolute;
  top: 0;
  right: 76px;
}

.Sun_Bottom {
  position: absolute;
  bottom: 0;
  left: 392px;
}

/* ------------SLIDER------------- */

.slider .container {
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.slider_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 43px;
  line-height: 140%;
  text-align: center;
  color: #000;
}
.slider_list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.slider_list_item {
}
.slider_list_item_img {
  height: 336px;
}

/* ------------JOIN------------- */

.join .container {
  padding: 32px 16px;
  background-color: #f5ede7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.join_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 144%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.join_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 31px;
  line-height: 142%;
  text-align: center;
  color: #000;
}

.join_button {
  border: 1px solid #000;
  border-radius: 24px;
  width: 480px;
  height: 58px;
  padding-top: 28px;
  /* padding-bottom: 20px; */
}

.join_button_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  /* line-height: 424%; */
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* ------------FOOTER------------- */

.footer .container {
  padding: 72px 18px;
  background-color: #f5ede7;
  display: flex;
  flex-direction: column;
  gap: 68px;
}
.footer_wrap1 {
  display: flex;
  gap: 164px;
}
.footer_logo_link {
}
.footer_logo_img {
}
.footer_list {
  list-style: none;

  display: flex;
  gap: 164px;
}
.footer_list_item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_list_item_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 164%;
  color: #000;
}
.footer_list_item_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
}
.footer_list_item_list_item {
}
.footer_list_item_list_item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.footer_social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_social_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 23px;
  line-height: 157%;
  color: #000;
}
.footer_social_list {
  display: flex;
  gap: 7px;
  list-style: none;
}
.footer_social_list_item {
}
.footer_social_list_item_img {
}
.footer_wrap2 {
  display: flex;
  gap:4px;
}
.footer_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #000;
}
